Help
obj
bin
lib
packages
*.nupkg
*.snupkg
/.vs
/LogicMonitor.Api.Test/userSecrets.json
/LogicMonitor.Api.tss
/LogicMonitor.Api/nuget-api-key.txt
/LogicMonitor.Api.Help/html
/nuget-key.txt
/LogicMonitor.Api.Test/EventLogs/UnhandledLogs
