{
	"Config": {
		"Account": "mycompany",
		"AccessId": "XXXXXXXXXXXXXXXXXXXX",
		"AccessKey": "XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX",
		"CollectorId": 248,
		"WindowsDeviceId": 1459,
		"WindowsDeviceLargeDeviceDataSourceId": 6144,
		"NetflowDeviceId": 56,
		"ServiceDeviceId": 1053,
		"SnmpDeviceId": 78,
		"DeviceGroupFullPath": "Path to Test Device Group",
		"WebsiteGroupFullPath": "Path to Test Website Group",
		"AllWidgetsDashboardIdComment": "This should be a dashboard with all available types of LogicMonitor widget on.",
		"AllWidgetsDashboardId": 74,
		"AccountHasBillingInformation": true,
		"AlertRuleName": "Critical and Error catch all",
		"WebsiteName": "PDL-WEB-RM-PROD-API"
	}
}